.ShopIntro {
  box-shadow: 0 2px 1px #c1c1c1;
  border-radius: 0 0 10px 10px;
  position: fixed;
  left: 0;
  top: 85px;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 500;
}

.ShopIntro h1 {
  margin: 0 0 5px 0;
  color: blue;
}

.ShopIntro p {
  margin: 0;
  color: blue;
  font-size: 0.9rem;
}

.Phone {
  display: flex;
  justify-content: space-between;
}

.Phone span {
  color: green;
}

.ShopIntro a {
  text-decoration: none;
  color: inherit;
}

.ShopIntro button {
  background-color: blue;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  padding: 5px 0;
  font-weight: 600;
  color: #ffffff;
  margin: 5px 0;
  cursor: pointer;
}

.ShopCards {
  margin: 255px 10px 60px 10px;
}

.ShopCard {
  box-shadow: 0 0 5px #c1c1c1;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
}

.ShopCard img {
  width: 80px;
  border-radius: 8px 0 0 8px;
  margin-right: 20px;
}

.ShopCardContent {
  width: 100%;
  height: 100%;
}

.ShopCardContent p {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.Cart {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.CartContent p {
  font-size: 0.9rem;
}

.CartButton {
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
}

.CartButton p {
  font-size: 1.25rem;
}

.CartButton p span {
  font-size: 1.5rem;
  cursor: pointer;
}

.CartButton p span:first-of-type {
  color: red;
}

.CartButton p span:nth-of-type(2) {
  color: green;
}

.ShopCart {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px -2px 2px #c1c1c1;
}

.ShopCartContent {
  margin: 5px 10px 10px 10px;
  background-color: blue;
  padding: 2px;
  border-radius: 4px;
}

.ShopCartContent p {
  margin: 0;
  text-align: center;
  color: white;
  font-weight: 600;
  line-height: 0.8rem;
  font-size: 0.8rem;
}
